@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    --color-primary: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
  }
}

.text-color-primary {
  color: var(--color-primary);
}

