@import "tailwindcss";
@import "@niibase/uniwind";

@theme {
  /* Override global variables here */
  --spacing: 0.25rem; /* you can change default spacing here */
  --font-sans: "system-ui";
  --font-serif: "ui-serif";
  --font-rounded: "ui-rounded";
  --font-mono: "ui-monospace";
}

@layer theme {
  :root {
    @variant light {
      --color-background: oklch(1 0 0);
      --color-foreground: oklch(0.145 0 0);
      --color-card: oklch(0.97 0 0 / 1);
      --color-card-foreground: oklch(0.145 0 0);
      --color-popover: oklch(1 0 0);
      --color-popover-foreground: oklch(0.145 0 0);
      --color-primary: oklch(0.205 0 0);
      --color-primary-foreground: oklch(0.985 0 0);
      --color-secondary: oklch(0.97 0 0);
      --color-secondary-foreground: oklch(0.205 0 0);
      --color-muted: oklch(0.97 0 0);
      --color-muted-foreground: oklch(0.556 0 0);
      --color-accent: oklch(0.97 0 0);
      --color-accent-foreground: oklch(0.205 0 0);
      --color-destructive: oklch(0.577 0.245 27.325);
      --color-destructive-foreground: oklch(1 0 0);
      --color-border: oklch(0.922 0 0);
      --color-input: oklch(0.922 0 0);
      --color-ring: oklch(0.708 0 0);
    }

    @variant dark {
      --color-background: oklch(0.145 0 0);
      --color-foreground: oklch(0.985 0 0);
      --color-card: oklch(0.205 0 0);
      --color-card-foreground: oklch(0.985 0 0);
      --color-popover: oklch(0.269 0 0);
      --color-popover-foreground: oklch(0.985 0 0);
      --color-primary: oklch(0.922 0 0);
      --color-primary-foreground: oklch(0.205 0 0);
      --color-secondary: oklch(0.269 0 0);
      --color-secondary-foreground: oklch(0.985 0 0);
      --color-muted: oklch(0.269 0 0);
      --color-muted-foreground: oklch(0.708 0 0);
      --color-accent: oklch(0.371 0 0);
      --color-accent-foreground: oklch(0.985 0 0);
      --color-destructive: oklch(0.704 0.191 22.216);
      --color-destructive-foreground: oklch(0.985 0 0);
      --color-border: oklch(0.275 0 0);
      --color-input: oklch(0.325 0 0);
      --color-ring: oklch(0.556 0 0);
    }

    @variant sepia {
      --color-background: oklch(0.9582 0.0152 90.2357);
      --color-foreground: oklch(0.376 0.0225 64.3434);
      --color-card: oklch(0.9914 0.0098 87.4695);
      --color-card-foreground: oklch(0.376 0.0225 64.3434);
      --color-popover: oklch(0.9914 0.0098 87.4695);
      --color-popover-foreground: oklch(0.376 0.0225 64.3434);
      --color-primary: oklch(0.618 0.0778 65.5444);
      --color-primary-foreground: oklch(1 0 0);
      --color-secondary: oklch(0.8846 0.0302 85.5655);
      --color-secondary-foreground: oklch(0.4313 0.03 64.9288);
      --color-muted: oklch(0.9239 0.019 83.0636);
      --color-muted-foreground: oklch(0.5391 0.0387 71.1655);
      --color-accent: oklch(0.8348 0.0426 88.8064);
      --color-accent-foreground: oklch(0.376 0.0225 64.3434);
      --color-destructive: oklch(0.5471 0.1438 32.9149);
      --color-destructive-foreground: oklch(1 0 0);
      --color-border: oklch(0.91 0.03 84.59 / 1);
      --color-input: oklch(0.8606 0.0321 84.5881);
      --color-ring: oklch(0.618 0.0778 65.5444);
    }

    @variant bubblegum {
      --color-background: oklch(0.9399 0.0203 345.6985);
      --color-foreground: oklch(0.4712 0 0);
      --color-card: oklch(0.9498 0.05 86.8891);
      --color-card-foreground: oklch(0.4712 0 0);
      --color-popover: oklch(1 0 0);
      --color-popover-foreground: oklch(0.4712 0 0);
      --color-primary: oklch(0.6209 0.1801 348.1385);
      --color-primary-foreground: oklch(1 0 0);
      --color-secondary: oklch(0.8095 0.0694 198.1863);
      --color-secondary-foreground: oklch(0.3211 0 0);
      --color-muted: oklch(0.88 0.0504 212.0952);
      --color-muted-foreground: oklch(0.5795 0 0);
      --color-accent: oklch(0.9195 0.0801 87.667);
      --color-accent-foreground: oklch(0.3211 0 0);
      --color-destructive: oklch(0.7091 0.1697 21.9551);
      --color-destructive-foreground: oklch(1 0 0);
      --color-border: oklch(0.88 0.07 343.89 / 1);
      --color-input: oklch(0.9189 0 0);
      --color-ring: oklch(0.7002 0.1597 350.7532);
    }
  }
}
