@import 'tailwindcss';
@import '@niibase/uniwind';

@layer theme {
    :root {
        @variant dark {
            --color-background: black;
        }

        @variant light {
            --color-background: white;
        }

        @variant premium {
            --color-background: gold;
        }
    }
}
