@import "tailwindcss";
@import "uniwind";

:root {
  --foo: 120 50% 50%;
  --bar: 0.7 0.1 141;
  --my-gradient: linear-gradient(90deg, var(--color-foo) 0%, var(--color-bar) 100%);
}

@theme {
  --color-foo: hsl(var(--foo));
  --color-bar: oklch(var(--bar));
  --spacing-test: 123px;
  --color-background: unset;
}

@layer theme {
    :root {
        @variant dark {
            --color-background: black;
        }

        @variant light {
            --color-background: white;
        }
    }
}
